@charset "UTF-8";

.product-name {
    font-weight: bold;
    font-size: 1.2em;
}

.product-info {
    color: rgb(77, 76, 76);
}

.product-price {
    text-decoration: underline;
}

th:nth-child(5), td:nth-child(5) {
    width: 120px;
}